#event-list-div{
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
  flex-flow: row wrap;
}
#dept-details-div{
  display: flex;
  justify-content: space-evenly;
}
table{
  display: flex;
  justify-content: center;
}